services:
  mysql:
    image: mysql:8.0.30
    container_name: mysql
    restart: always
    ports:
      - "1995:3306"
    env_file:
      - ./env/app.production.env
    environment:
      - TZ=Asia/Shanghai
      - MYSQL_ROOT_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DB}
    volumes:
      - "${MYSQL_CONF}:/etc/mysql/conf.d"
      - "${MYSQL_LOG}:/var/log/mysql"
      - "${MYSQL_DATA}:/var/lib/mysql"
    healthcheck:
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -p${MYSQL_PASSWORD} --silent || exit 1"]
      interval: 10s
      timeout: 5s
      retries: 10

  mongodb:
    image: mongo:4.4
    container_name: mongodb
    ports:
      - "20001:27017"
    volumes:
      - "${MONGO_LOG}:/var/log/mongodb"
      - "${MONGO_DATA}:/data/db"
      - "${MONGO_CONF}:/etc/mongo"
    environment:
      - "MONGO_INITDB_ROOT_USERNAME=${MONGO_USER}"
      - "MONGO_INITDB_ROOT_PASSWORD=${MONGO_PASSWORD}"
    restart: always

  redis:
    image: redis
    container_name: redis
    restart: always
    ports:
      - "1999:6379"
    command: ["redis-server", "/etc/redis/redis.conf", "--appendonly", "yes", "--requirepass", "${REDIS_PASSWORD}"]
    volumes:
      - "${REDIS_DATA}:/data"
      - "${REDIS_LOG}:/var/log/redis"
      - "${REDIS_CONF}:/etc/redis"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 10

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: jmni-app
    restart: always
    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_started
      mongodb:
        condition: service_started
    env_file:
      - ./env/app.production.env
    volumes:
      - "${APP_LOG_PATH}:${LOG_DIR}"
      - "${APP_UPLOAD_PATH}:${UPLOADS_PATH}"
    ports:
      - "${APP_PORT}:${APP_PORT}"

networks:
  default:
    name: jmni-net
    driver: bridge
